<!DOCTYPE html>
<html lang="en">

  <head>
    <title> cookie store </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <header class="UpperBar">
      <form method="get" action="https://localhost:1024">
        <button class="logo">
          cookie store
        </button>
      </form>
      <div class="right-section">
        <form method="get" action="https://localhost:1024/register">
          <button class="logo">
            register
          </button>
        </form>
        <form method="get" action="https://localhost:1024/logout">
          <button class="logo">
            logout
          </button>
        </form>
      </div>
    </header>
    <div class="loginpage">
      <form class="form" method="post" action="https://localhost:1024/login">
        <a class="heading">Login</a>
          <input class="input" name="username" placeholder="username">
          <input class="input" name="password" placeholder="password" type="password">
          <button class="btn">login</button>
      </form>
      <a class="username"> <%=message %> </a>
    </div>
  </body>
</html>