<!DOCTYPE html>
<html lang="en">

  <head>
    <title> cookie store </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body class="goback">
    <div class="manage">
      <div>
        <form class="form" method="post" action="https://localhost:1024/manage?type=add">
          <a class="heading">add product</a>
            <input class="input" name="name" placeholder="name">
            <input class="input" name="price" placeholder="price">
            <button class="btn">add</button>
        </form>
        <a class="username"> <%=message1 %> </a>
      </div>
      <div>
        <form class="form" method="post" action="https://localhost:1024/manage?type=delete">
          <a class="heading">delete product</a>
            <input class="input" name="id" placeholder="id">
            <button class="btn">delete</button>
        </form>
        <a class="username"> <%=message2 %> </a>
      </div>
    </div>
    <div>
      <form method="post" action="https://localhost:1024/">
          <button class="logo">go back</button>
      </form>
    </div>
  </body>
</html>