<!DOCTYPE html>
<html lang="en">

  <head>
    <title> cookie store </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <header class="UpperBar">
      <form method="get" action="https://localhost:1024">
        <button class="logo">
          cookie store
        </button>
      </form>
        <form method="get" action="https://localhost:1024/login">
          <button class="logo">
            login
          </button>
        </form>
    </header>
    <div class="loginpage">
      <form class="form" method="post" action="https://localhost:1024/register">
        <a class="heading">Register</a>
          <input class="input" name="username" placeholder="username">
          <input class="input" name="password" placeholder="password">
          <button class="btn">register</button>
          <a class="username"> <%=message1 %> </a>
      </form>
    </div>
  </body>
</html>