.UpperBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 50px;
}

.manage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.manage>* {
  margin: 50px;
}

.goback {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

.right-section {
  display: flex;
  align-items: center;
}

.right-section>* {
  margin-right: 10px;
}

body {
  background-color: #0e1111;
}

.products {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: large;
  max-width: 2000px;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
}

.products>* {
  margin: 5px;
}

.product {
  display: flex;
  flex-direction: column;
}


.logo {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.username {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
}

.logo:focus,
.logo:hover {
  color: #fff;
}

.logo:focus:after,
.logo:hover:after {
  width: 100%;
  left: 0%;
}

.logo:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}


.card {
  position: relative;
  width: 11.875em;
  height: 16.5em;
  box-shadow: 0px 1px 13px rgba(0.1, 0.1, 0.1, 0.1);
  cursor: pointer;
  transition: all 120ms;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding-bottom: 3.4em;
}

.card::after {
  bottom: 0;
  content: "Add";
  padding-top: 1.25em;
  padding-left: 1.25em;
  position: absolute;
  background: #00dca2;
  color: #fff;
  height: 2.5em;
  width: 90%;
  transition: all 120ms;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0;
  pointer-events: none;
}

.card .title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  position: absolute;
  font-weight: 400;
  color: #000;
}

.card .price {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 0.9em;
  position: absolute;
  left: 0.625em;
  bottom: 0.625em;
  color: #000;
}

.card:hover::after {
  opacity: 1;
  transition-delay: 0.1s;
}

.card:active {
  transform: scale(0.9);
}

.card:active::after {
  pointer-events: none;
}

.card:hover {
  transform: translateX(-0.5em) translateY(-0.5em);
  border: 1px solid #171717;
  box-shadow: 10px 10px 0px #9d00ff;
}

.loginpage {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #212121;
  padding: 2.5em;
  border-radius: 25px;
  width: 400px;
  height: 400px;
  transition: .4s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 2px;
}

.form:hover {
  transform: translateX(-0.5em) translateY(-0.5em);
  border: 1px solid #171717;
  box-shadow: 10px 10px 0px #9d00ff;
}

.heading {
  color: White;
  padding-bottom: 2em;
  text-align: center;
  font-weight: bold;
}

.input {
  border-radius: 5px;
  padding: 0.7em;
}

.form .btn {
  margin-top: 2em;
  align-self: center;
  padding: 0.7em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 10px;
  border: none;
  color: black;
  transition: .4s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}

.form .btn:hover {
  box-shadow: 6px 6px 0px #9d00ff,
    -3px -3px 10px;
  transform: translateX(-0.5em) translateY(-0.5em);
}